<section id="projects">
    <h3>Proyectos</h3>
    <div class="row row-cols-lg-2">
      <div class="col">
        <div class="card m-3">
          <img src="https://miro.medium.com/max/1400/0*xWIRPlnL6qHBvngz" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card m-3">
          <img src="https://miro.medium.com/max/1400/0*xWIRPlnL6qHBvngz" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      
    </div>
    
  </section>
