<section id="education">
    <h2>Educación</h2>
    <div id="academica">
      <h3>Formación Académica</h3>
      <div class="card border-0">
        <div class="row">
            <div class="col-lg-3 logos">
                <img src="https://www.fi.unju.edu.ar/images/LOGOS-FI-UNJU/logo-fi-unju-gran-formato-vertical-3000x2746.png" alt="" width="150px">
            </div>
            <div class="col-lg-9">
                <div class="card-body">
                    <h5 class="card-title">UNJU</h5>
                    <p class="card-text">Ingeniería en Informática</p>
                    <h6 class="card-subtitle mb-2 text-muted">2015 - presente</h6>
                  </div>
            </div>
        </div>
    </div>
    <br>
    <div class="card border-0">
      <div class="row">
          <div class="col-lg-3 logos">
              <img src="https://res.cloudinary.com/dvxigug6q/image/upload/v1654527023/img030_mm0usi.jpg" alt="" height="150px">
          </div>
          <div class="col-lg-9">
              <div class="card-body">
                  <h5 class="card-title">Colegio Nacional N°1 Teodoro Sanchez de Bustamante</h5>
                  <h6 class="card-subtitle mb-2 text-muted">2010 - 2015</h6>
                </div>
          </div>
      </div>
    </div>
  
  </div>
  <div id="complementaria">
    <h3>Formación Complementaria</h3>
    <div class="card border-0">
      <div class="row">
          <div class="col-lg-3 logos">
              <img src="https://www.unsam.edu.ar/img/logos/ECyT.png" alt="">
          </div>
          <div class="col-lg-9">
              <div class="card-body">
                  <h5 class="card-title">UNSAM</h5>
                  <p class="card-text">Programación en Python</p>
                  <h6 class="card-subtitle mb-2 text-muted">2021 (96hs)</h6>
                </div>
          </div>
      </div>
  </div>
  </div>
    
  <hr>
</section>
