<section id="experience">
    <h2>Experiencias</h2>
    <div class="row">
        <div class="col-lg-3">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt aperiam eum temporibus esse est recusandae nisi pariatur nostrum reprehenderit perspiciatis! Ducimus qui quod, velit sequi dolorem odio porro ea esse?</p>
        </div>
        <div class="col-lg-9">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae mollitia nemo, voluptatibus, suscipit repellat ratione quasi aliquam dolorem animi voluptates explicabo error nobis deleniti saepe placeat sapiente facere, quas exercitationem.</p>
        </div>
    </div>
    <hr>
</section>
